<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let row"> {{row.ID}} </td>
  </ng-container>

  <ng-container matColumnDef="mecanicien">
    <th mat-header-cell *matHeaderCellDef> mecanicien </th>
    <td mat-cell *matCellDef="let row"> {{row.mecanicien}} </td>
  </ng-container>

  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let row"> {{row.Date}} </td>
  </ng-container>

  <ng-container matColumnDef="NumMachine">
    <th mat-header-cell *matHeaderCellDef> NumMachine </th>
    <td mat-cell *matCellDef="let row"> {{row.NumMachine}} </td>
  </ng-container>

  <ng-container matColumnDef="Reclamation">
    <th mat-header-cell *matHeaderCellDef> Reclamation </th>
    <td mat-cell *matCellDef="let row"> {{row.Reclamation}} </td>
  </ng-container>

  <ng-container matColumnDef="Debut">
    <th mat-header-cell *matHeaderCellDef> Debut </th>
    <td mat-cell *matCellDef="let row"> {{row.Debut}} </td>
  </ng-container>

  <ng-container matColumnDef="Fin">
    <th mat-header-cell *matHeaderCellDef> Fin </th>
    <td mat-cell *matCellDef="let row"> {{row.Fin}} </td>
  </ng-container>

  <ng-container matColumnDef="Categorie">
    <th mat-header-cell *matHeaderCellDef> Categorie </th>
    <td mat-cell *matCellDef="let row"> {{row.Categorie}} </td>
  </ng-container>

  <ng-container matColumnDef="chaine">
    <th mat-header-cell *matHeaderCellDef> chaine </th>
    <td mat-cell *matCellDef="let row"> {{row.chaine}} </td>
  </ng-container>
  <ng-container matColumnDef="TypeMachine">
    <th mat-header-cell *matHeaderCellDef> TypeMachine </th>
    <td mat-cell *matCellDef="let row"> {{row.TypeMachine}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row ; columns: displayedColumns;"></tr>
</table>

<div class="container">
  <h1> ajouter une intervention </h1>
  <hr>
    <form [formGroup]="profileForm" (ngsubmit)= "submitForm" novalidate>

      <div class="form-group">
        <input type="text" formControlname="ID" class="form-control"  />
      </div>

      <div class="form-group">
        <input type="text" formControlName="mecanicien" class="form-control" placeholder="Name" />
      </div>

      <div class="form-group">
        <input type="text" formControlName="Date" class="form-control" placeholder="stock" />
      </div>

      <div class="form-group">
        <input type="text" formControlName="NumMachine" class="form-control" placeholder="comment" />
      </div>

      <div class="form-group">
        <input type="text" formControlName="Reclamation" class="form-control" placeholder="comment" />
      </div>

      <div class="form-group">
        <input type="text" formControlName="Debut" class="form-control" placeholder="comment" />
      </div>

      <div class="form-group">
        <input type="text" formControlName="Fin" class="form-control" placeholder="comment" />
      </div>

      <div class="form-group">
        <input type="text" formControlName="Categorie" class="form-control" placeholder="comment" />
      </div>
      
      <div class="form-group">
        <input type="text" formControlName="chaine" class="form-control" placeholder="comment" />
      </div>

      <div class="form-group">
        <input type="text" formControlName="TypeMachine" class="form-control" placeholder="comment" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-info" >Save Product</button>
      </div>
    </form>
</div>





