



<mat-sidenav-container class="example-container"  >
    
      
    <mat-sidenav-content  class="example-container" >
  
        <div id="Sidenav" class="sidenav1">
      <mat-toolbar >
           <span class="spacer"></span>
        <a class="nav-item nav-link" routerLink="/">SIMOTEX</a>
        <span class="spacer"></span>
        <a>  <mat-icon > date_range</mat-icon> {{ today | date:'fullDate'}} </a>
        <span class="spacer"></span>
        <a>  <mat-icon > query_builder</mat-icon> {{ today | date:'h:mm a '}} </a>
        <span class="spacer"></span>
        
        <a  routerLink="/login">Slim Omrani <mat-icon > account_circle</mat-icon> </a>
        <span class="spacer"></span>
         
        <a  (click)="logout()"> <mat-icon > settings_power</mat-icon></a>
       
    
      </mat-toolbar>
      <div class="content">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
     


      
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef> N° </th>
            <td mat-cell *matCellDef="let row"> {{row.ID}} </td>
          </ng-container>
        
          <ng-container matColumnDef="mecanicien">
            <th mat-header-cell *matHeaderCellDef> Nom Mécanicien </th>
            <td mat-cell *matCellDef="let row"> {{row.mecanicien}} </td>
          </ng-container>
        
        
          <ng-container matColumnDef="NumMachine">
            <th mat-header-cell *matHeaderCellDef> Num de Machine </th>
            <td mat-cell *matCellDef="let row"> {{row.NumMachine}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Reclamation">
            <th mat-header-cell *matHeaderCellDef> Heure de Reclamation </th>
            <td mat-cell *matCellDef="let row"> {{row.Reclamation}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Debut">
            <th mat-header-cell *matHeaderCellDef> Heure de Debut </th>
            <td mat-cell *matCellDef="let row"> {{row.Debut}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Fin">
            <th mat-header-cell *matHeaderCellDef> Heure de Fin </th>
            <td mat-cell *matCellDef="let row"> {{row.Fin}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Categorie">
            <th mat-header-cell *matHeaderCellDef> Categorie d'intervention </th>
            <td mat-cell *matCellDef="let row"> {{row.Categorie}} </td>
          </ng-container>
        
          <ng-container matColumnDef="chaine">
            <th mat-header-cell *matHeaderCellDef> Chaine </th>
            <td mat-cell *matCellDef="let row"> {{row.chaine}} </td>
          </ng-container>
          <ng-container matColumnDef="TypeMachine">
            <th mat-header-cell *matHeaderCellDef> Type de la Machine </th>
            <td mat-cell *matCellDef="let row"> {{row.TypeMachine}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Etat_Intervention">
            <th mat-header-cell *matHeaderCellDef > Etat de l'intervention </th>
            <td mat-cell *matCellDef="let row" > {{row.Etat_Intervention}} </td>
          </ng-container>
          
  
          <ng-container matColumnDef="Update">
            <th mat-header-cell *matHeaderCellDef > Action </th>
            <td mat-cell *matCellDef="let row">  <a mat-button routerLink="/update" color="warn" >Mettre à Jour </a> </td>
          </ng-container>
          
          
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row ; columns: displayedColumns;"></tr>
        </table>
     
  
 
  
  
  
  
  
 
  
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  

