.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  background-color: #555;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.8vh 0.2vw;
}

mat-list-item:hover {
  cursor: pointer;
}