<mat-sidenav-container class="example-container"  >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')"  >
   
   
<mat-nav-list>
    <mat-list role="list">
        <div id="mySidenav" class="sidenav">
      <span>SIMOTEX</span>
      <hr>
      <mat-list-item role="listitem" routerLink="/affectations"> Affectations  <span class="spacer"></span><mat-icon>playlist_add_check</mat-icon> <span class="spacer"></span> </mat-list-item>
      <hr>
      <mat-list-item role="listitem" routerLink="/Presences"> Entrée de l'opérateur  <span class="spacer"></span><mat-icon>keyboard_tab</mat-icon> <span class="spacer"></span> </mat-list-item>
      <hr>
      <mat-list-item role="listitem" routerLink="/Sortie"> Sortie de l'Opérateur  <span class="spacer"></span><mat-icon>keyboard_return</mat-icon> <span class="spacer"></span>  </mat-list-item>
      <hr> 
     
      </div>
    </mat-list>
  </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content  class="example-container" >

      <div id="Sidenav" class="sidenav1">
    <mat-toolbar >
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>{{ (sidenav.opened)? 'close':'menu' }}</mat-icon>
      </button>
      <span class="spacer"></span>
     

      <span class="spacer"></span>
      <a class="nav-item nav-link" routerLink="/">SIMOTEX</a>
      <span class="spacer"></span>
      <a>  <mat-icon > date_range</mat-icon> {{ today | date:'fullDate'}} </a>
      <span class="spacer"></span>
      <a>  <mat-icon > query_builder</mat-icon> {{ today | date:'h:mm a '}} </a>
      <span class="spacer"></span>
      
      <a  routerLink="/login">Chedia Gharbi <mat-icon > account_circle</mat-icon> </a>
      <span class="spacer"></span>
       
      <a  (click)="logout()"> <mat-icon > settings_power</mat-icon></a>
     
  
    </mat-toolbar>
    <div class="content">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>

    <p style="text-align:center" > Bienvenue chez SIMOTEX </p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

