<mat-sidenav-container class="example-container"  >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                (closed)="events.push('close!')"  >
    <mat-toolbar color="primary">
      SIMOTEX
    </mat-toolbar>

    <mat-list role="list">
      <mat-list-item role="listitem" routerLink="/interventions">Interventions</mat-list-item>
      <hr>
      <mat-list-item role="listitem" routerLink="/affectations">Affectations</mat-list-item>
      
      <mat-list-item role="listitem" routerLink="/presences">Presences</mat-list-item>
      <hr>
      
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>{{ (sidenav.opened)? 'close':'menu' }}</mat-icon>
      </button>
      <span class="spacer"></span>
      <span>SIMOTEX</span>

      <span class="spacer"></span>

      <span>  <mat-icon > date_range</mat-icon> {{ today | date:'fullDate'}} </span>
      <span>  <mat-icon > query_builder</mat-icon> {{ today | date:'h:mm a '}} </span>
      <span > <mat-icon > account_circle</mat-icon> </span>
      <span> <mat-icon > settings_power</mat-icon></span>

     
  
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>