
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">




<div class="navbar"> 
  <a href="#" > SIMOTEX </a> 
  <a href="#"><i class="far fa-calendar-alt"></i> {{today | date:'fullDate'}}</a>  
  <a href="#"><i class="far fa-clock"></i>  {{today | date:'h:mm a '}}</a> 
  <a href="#"><i class="fa fa-fw fa-user"></i> {{ NomPrenom.Nom_op }}</a>  
  <a href="#"><i class="fas fa-power-off"></i></a>
</div>


<div id="mySidenav" class="sidenav">
  <div class="sidebar">
    <a href="#home"><i class="far fa-chart-bar"></i>Redement de la ligne</a>
    
    <a href="#home">	<i class="fab fa-think-peaks"></i>Redement des opératrices</a>
  </div>
</div>





<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The sidebar -->







