/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.example-card1 {
    max-width: 500px;
      justify-self: center;
      margin-left: 30%;
      margin-top: 10%
    }
  
  